button {
	color: red;
}

body {
	background-color: lightgray;
}

input {
	
}
.highest{
  width: 142px;
  height: 30px;
  background-color: #00b3b3;
  opacity: 0.5;
  color: white;
  text-align: center;

}

.lowest{
  width: 142px;
  height: 30px;
  background-color: #7a797f ;
  opacity: 0.5;
  color: white;
  text-align: center;
}

