#grade_average h3 {
    margin-top: 27px;
}

#grade_average h4 {
    margin-top: 23px;
}

.input-group {
    margin: 3px;
    width: 100%;
}

.input-error {
	box-shadow: -1px -1px 5px red, 1px 1px 5px red;
}

.student-row {

    -webkit-animation-name: fadeOutBG;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2s;

    
    -moz-animation-name: fadeOutBG;
    -moz-animation-timing-function: ease-in-out;    
    -moz-animation-duration: 2s;
    
    -o-animation-name: fadeOutBG;
    -o-animation-timing-function: ease-in-out;
    -o-animation-duration: 2s;
    
    animation-name: fadeOutBG;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@-moz-keyframes fadeOutBG {
    0% {
        background: rgba(252, 248, 227, 1);
        color:#8a6d3b;
    }
    50% {
        background: rgba(252, 248, 227, 1);
        color:#8a6d3b;
    }
    100% {
        background: rgba(252, 248, 227, 0);
        color:#000;
    }
}

@-webkit-keyframes fadeOutBG {
    0% {
        background: rgba(252, 248, 227, 1);
        color:#8a6d3b;
    }
    50% {
        background: rgba(252, 248, 227, 1);
        color:#8a6d3b;
    }
    100% {
        background: rgba(252, 248, 227, 0);
        color:#000;
    }
}
